div {
  font-family: 'Press Start 2P', serif;
}
small,
h5,
button,
.footer {
  font-size: inherit;
}

.Footer {
  font-size: 10px;
  padding-top: 90px;
  padding-bottom: 0;
}
h1 {
  font-size: 20px !important;
  padding: 10px;
  text-align: center;
  margin-top: 30px;
  font-weight: bolder;
  text-shadow: 2px 2px 5px rgb(255, 244, 32);
  font-family: 'Press Start 2P', serif;
}

.city {
  padding-top: 20px;
}
.H-W {
  font-family: 'Press Start 2P', serif;
  font-size: 10px;
  text-align: center;
}
.day {
  font-size: 8px !important;
  text-align: center;
  opacity: 0.6;
  font-family: 'Press Start 2P', serif;
  color: rgb(252, 252, 252);
  margin-top: -10px;
  margin-bottom: 30px;
}

.desc {
  text-align: center;
  font-weight: bold;
  margin-top: 10px;
  font-size: 10px;
}
hr {
  margin-top: 10px;
}
img {
  display: block;
  margin: 0 auto;
}
small:hover {
  color: rgb(81, 62, 255);
  font-weight: thin;
}
small a {
  color: black;
}
h5 {
  font-size: 5px;
  text-align: left;
  color: white;
}
a:hover {
  color: rgb(16, 104, 255);
}

.city-input {
  border: 2px solid #000000;
  border-top: 3px solid white;
  border-left: 3px solid white;
  background-color: rgb(255, 255, 255);
  padding-bottom: 14px;
  font-family: 'Press Start 2P', serif;
  font-size: 10px !important;
}

.submit {
  border: 2px solid #000000;
  border-top: 3px solid white;
  border-left: 5px solid white;
  padding-bottom: 14px;
  font-size: 8px !important;
}
.weather-app {
  border: 2px solid rgb(129, 194, 230);
  margin: 0 auto;
  padding: 20px;
  max-width: 400px;
  border-radius: 15px;
  height: 300px;
  box-shadow: 5px 10px #5db6e9;
  background: rgb(53, 149, 197);
}

.button:hover {
  color: rgb(255, 209, 24);
}

.float-left {
  color: rgb(0, 0, 0);
  font-weight: bold;
  padding-bottom: 20px;
  text-align: center;
}
.temp {
  font-size: 30px;
  text-align: center;
  color: rgb(0, 0, 0);
  display: block;
  margin-right: 30px;
  text-shadow: 2px 2px 5px rgb(255, 250, 114);
}

.weather-forecast {
  text-align: center;
  border-radius: 15px;
  background: rgb(148, 225, 255);
  border: 2px solid #fffbfb;
  height: 400px;
  width: 300px;
  margin-top: -350px;
  margin-left: 408px;
}

.weather-forecast-temperatures {
  font-size: 20px;

  color: rgb(37, 38, 36);
}

.weather-forecast-temperature-min {
  opacity: 0.6;
}

.unit {
  font-size: 10px;
}

.icons {
  text-align: left;
}
.MainTemp {
  display: flex;
  align-items: center;
  justify-content: center;
}
